/*
Main Orange Color: #e67e22
Collapse All Code: alt+1
*/

/*-----------------------------*/
/*        -Basic Setup-        */
/*-----------------------------*/
    
    html,
    body{
        overflow-x: hidden;
        overflow-y: scroll;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        background-color: #fff;
        color: #555;
        font-family: 'Lato','Arial',sans-serif;
        font-weight: 300;
        font-size: 20px;
        text-rendering: optimizeLegibility;
    }

    /* -Fixes- */

    .clear-fix{ zoom: 1; }

    .clear-fix:after{
        content: ".";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }

/*-----------------------------*/
/*    -Reusable Components-    */
/*-----------------------------*/

    .row{
        max-width: 1140px;
        margin: 0 auto;
    }

    /* -Headings- */

        h1,
        h2,
        h3{
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        h1{
            margin-top: 0;
            color: #fff;
            font-size: 240%;
            word-spacing: 4px;
        }

        h2{
            font-size: 180%;
            word-spacing: 2px;
            text-align: center;
            margin-bottom: 30px;
        }

        /* After is an elmement that appears in CSS right after another element */
        h2:after{
            content: "";
            display: block;
            height: 3px;
            background-color: #e67e22;
            width: 150px;
            margin: 20px auto;
        }

        h3{
            font-size: 110%;
            margin-bottom: 15px;
        }  
    
    /* -Buttons- */

        .btn:link,
        .btn:visited{
            display: inline-block;
            padding: 10px 30px;
            font-weight: 300;
            text-decoration: none;
            border-radius: 200px;
            transition: background-color 0.5s, border 0.5s, color 0.5s;
        }

        .btn-full:link,
        .btn-full:visited{
            background-color: #e67e22;
            border: 1px solid #e67e22;
            color: #fff;
            margin-right: 15px;
        }

        .btn-ghost:link,
        .btn-ghost:visited{
            border: 1px solid #e67e22;
            color: #e67e22;
        }

        .btn-full:hover,
        .btn-full:active{
            background-color: rgba(230, 126, 34, 0.5);
            border: 1px solid rgba(230, 126, 34, 0.2);
        }

        .btn-ghost:hover,
        .btn-ghost:active{
            background-color: #e67e22;
            border: 1px solid #e67e22;
            color: #fff;
        }

    /* -Sections- */

        section{ padding: 80px 0; }

    /* -Paragraphs- */

        .long-copy{
            line-height: 145%;
            width: 70%;
            margin-left: 15%;
            margin-bottom: 2%;
            text-align: center;
        }

        .box{ padding: 1%; }

        .box p{
            font-size: 90%;
            line-height: 145%;
            text-align: justify;
        }


/*-----------------------------*/
/*          -Header-           */
/*-----------------------------*/

    header{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(img/hero.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }

    .hero-text-box{
        position: absolute;
        width: 1140px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

/*-----------------------------*/
/*        -NAVIGATION-         */
/*-----------------------------*/

    .logo{
        height: 100px;
        width: auto;
        float: left;
        margin-top: 20px;
    }

    .main-nav{
        float: right;
        list-style: none;
        margin-top: 55px;
    }

    .main-nav li{
        display: inline-block;
        margin-left: 40px;
    }

    .main-nav li a:link,
    .main-nav li a:visited{
        padding: 8px 0;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
    }

    .main-nav li a:hover,
    .main-nav li a:active{ border-bottom-color: #e67e22; }

/*-----------------------------*/
/*     -Features Section-      */
/*-----------------------------*/

    /* -Icons- */

        .icon-big{
            font-size: 300%;
            color: #e67e22; 
            display: block;
            margin-bottom: 15px;
        }

        .icon-small{
            display: inline-block;
            width: 30px;
            text-align: center;
            color: #e67e22;
            font-size: 120%;
            margin-right: 10px;
            
            /* Align Text And Icons */
            line-height: 120%;
            vertical-align: middle;
            margin-top: -4px;
        }

/*-----------------------------*/
/*      -Favorite Meals-       */
/*-----------------------------*/

    /* -Images List- */

        .section-meals{ padding: 0; }

        .meals-showcase{
            list-style: none;
            width: 100%
        }

        .meals-showcase li{
            display: block;
            float: left;
            width: 25%;
        }

        .meal-photo{
            width: 100%;
            margin: 0;
            overflow: hidden;
            background-color: #000;
        }

        .meal-photo img{
            opacity: 0.7;
            width: 100%;
            height: auto;
            transform: scale(1.15);
            transition: transform 0.5s, opacity 0.5s ;
        }

        .meal-photo img:hover{
            opacity: 1;
            transform: scale(1.03);
        }

/*-----------------------------*/
/*       -How It Works-        */
/*-----------------------------*/

    .section-steps{ background-color: #f0f0f0; }

    /* -Steps Box- */

        .steps-box{ margin-top: 30px; }

        .steps-box:first-child{
            text-align: right;
            padding-right: 3%;
            margin-top: 30px;
        }

        .steps-box:last-child{
            padding-left: 3%;
            margin-top: 70px;
        }

        .works-steps{ margin-bottom: 50px; }

        .works-steps:last-of-type{ margin-bottom: 80px; }

        .works-steps div{
            color: #e67e22;
            border: 2px solid #e67e22;
            display: inline-block;
            border-radius: 50%;
            height: 55px;
            width: 55px;
            text-align: center;
            padding: 7px;
            float: left;
            font-size: 150%;
            margin-right: 25px;
        }

    /* -Screen Shot- */

        .app-screen{ width: 40%; }

    /* -Apps' Buttons- */

        .btn-app img{
            height: 50px;
            width: auto;
            margin-right: 10px;
        }

/*-----------------------------*/
/*          -Cities-           */
/*-----------------------------*/

    /* -Images- */
    
        .box img{
            width: 100%;
            height: auto;
            margin-bottom: 15px;
        }

    /* -Features- */

        .city-features{ margin-bottom: 5px; }

        .city-twitter-link{
            color: #e67e22;
            text-decoration: none;
        }

        .city-link-inner{
            transition: border-bottom 0.7s;
            border-bottom: 0.5px #e67e22 solid;
        }

        .city-link-inner:hover{ border-bottom: 0.5px solid transparent; }

/*-----------------------------*/
/*       -Testimonials-        */
/*-----------------------------*/

        .section-testimonials{
            background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
            background-size: cover;
            background-attachment: fixed;
            color: #fff;
        }

        .section-testimonials h2:after{ display: none; }

        .section-testimonials h2{ margin-bottom: 30px; }

        /* -Recommendations- */

            blockquote{
                padding: 2%;
                font-style: italic;
                line-height: 145%;
                text-align: justify;
                position: relative;
            }

            blockquote:before{
                content: "\201C";
                font-size: 400%;
                display: block;
                position: absolute;
                top: -5px;
                left: -3px;
            }

            cite{
                font-size: 90%;
                margin-top: 25px;
                display: block;
                text-align: left;
                font-style: normal;
            }

            cite img{
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
                vertical-align: middle;
            }












